body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background:whitesmoke;
  color: #333;
}

header {
  background:skyblue;
  color: white;
  padding: 2px;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.project {
  
  padding: 1px;
  margin-bottom: 1px;
  border-radius: 8px;
}

form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background: #6200ea;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: lightskyblue;
}
